<div class="row" id="userArea">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h3 style="display:inline">Join Chat:&nbsp;</h3>
        <h3 data-ref="{{channelName}}" id="channelURL" style="color:#13B78C;display:inline">{{channelName}}</h3>
        <hr>
        <form id="userForm" name="userForm">
            <div class="form-group">
                <label>Enter nickname:</label> <input class="form-control" id="nicknameURL" type="text"><br>
                <label>Enter Passcode:</label> <input class="form-control" id="passcodeURL" type="text"><br>
                <button class="btn btn-primary btn-block" disabled="true" id="joinPrivateChannelURL">Join Chat</button>
            </div>
        </form>
    </div>
</div>
